iframe {
  overflow: hidden;
}

.banners-300x250,
.native-banners-container,
.banners-160-600,
.banners-728-90 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ad-page {
  position: relative;
  width: 100%;
}

.offcanvas {
  width: 100vw;
  overflow: auto;
}

.offcanvas-body {
  height: 100vh !important;
  overflow-y: auto !important;
  position: relative;
}

.native-banner {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.banner-300x250 {
  height: 250px;
  width: 300px;
  margin-bottom: 20px;
}

.banner-160-600 {
  height: 600px;
  width: 160px;
  margin-bottom: 20px;
}

.banner-728-90 {
  height: 90px;
  width: 728px;
  margin-bottom: 20px;
}
