html {
  scroll-behavior: smooth;
}

/* For Safari and other browsers that don't support smooth scrolling */
@supports not (scroll-behavior: smooth) {
  html {
    overflow: auto;
    scroll-behavior: auto;
  }
}

iframe {
  margin: 0;
  padding: 0;
  width: 101vw;
  height: 101vh;
}

#count,
#delay {
  width: 50px;
}

label {
  display: block;
}

.start-btn:hover img,
.start-btn:disabled img,
.settings-icon:hover {
  animation: start-btn-logo 1s ease infinite;
}

.icons-main {
  width: 35px;
  height: auto;
}

.global-stats-card {
  background: linear-gradient(262.39deg, #2d2d2d 0.39%, #484748 99.61%);
  padding: 10px;
  margin: 15px;
  border-radius: 8px;
  min-width: 180px;
  box-shadow: 5px 5px 15px 1px #65656574;
  text-wrap: nowrap;
}
.global-stats-card section img {
  width: 35px;
  height: auto;
}
.global-stats-card section p {
  font-size: 10px;
}
.global-stats-card p {
  font-size: 24px;
  padding: 0 10px;
}

input[type="number"] {
  background-color: #484748;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  padding: 0 8px;
  width: 80px !important;
  margin: 5px;
}

.timeleft-contdown {
  font-size: 52px;
  width: fit-content;
  padding: 20px 25px;
  margin: 30px auto;
  border: 1px solid #fff;
  border-radius: 50%;
}

.user-stats {
  background: linear-gradient(262.39deg, #2d2d2d 0.39%, #353535 99.61%);
  margin: 10px;
  border-radius: 8px;
}

/* Styles for medium screens */
@media (min-width: 768px) {
  .icons-main {
    width: 70px;
    height: auto;
  }

  .global-stats-card {
    background: linear-gradient(262.39deg, #2d2d2d 0.39%, #484748 99.61%);
    padding: 20px;
    margin: 30px;
    border-radius: 8px;
    min-width: 260px;
    box-shadow: 5px 5px 15px 1px #65656574;
    text-wrap: nowrap;
  }

  .global-stats-card section img {
    width: 70px;
    height: auto;
  }

  .global-stats-card section p {
    font-size: 20px;
  }

  .global-stats-card p {
    font-size: 32px;
    padding: 0 20px;
  }

  .timeleft-contdown {
    font-size: 52px;
    width: fit-content;
    padding: 20px 25px;
    margin: 30px auto;
    border: 1px solid #fff;
    border-radius: 50%;
  }
}

/* Animations */
@keyframes start-btn-logo {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

input[type="checkbox"] {
  scale: 2;
  border: none;
}



.offcanvas-body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  overflow-y: auto !important;
}

.mining-stats-wrapper {
  flex-shrink: 0;
}

.ads-wrapper {
  flex: 1;
  overflow-y: auto;
}

.mining-stats {
  flex-shrink: 10;
}
